<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ABC Group</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel = "stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        
        <link
        href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    />
    </head>
    <body>
        <div class= "container">
            <div class = "landing">
                    <nav class="navbar">
                        <div class= "navigation">
                            <a href= "#" class="logo">
                                <span class="circle">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                                <span class="logo-text">ABC Group</span>
                            </a>
                            <ul class="menu">
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/login/">Ingresar</a></li>
                                <li><a href="/register/">Registrarse</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="banner">
                        <h1>Gestiona tus eventos <span>ABC Group</span></h1>
                        
                        <p class="event-description">ABC Group es una empresa dedicada a ofrecer soluciones integrales </p>
                        <p class="event-description">para la gestión de eventos, desde pequeñas reuniones corporativas</p>
                        <p class="event-description">hasta grandes convenciones y espectáculos. Nos especializamos en</p>
                        <p class="event-description">proporcionar servicios personalizados y adaptados a las necesidades</p>
                        <p class="event-description">específicas de cada cliente, garantizando la excelencia en cada detalle.</p>
                    </div>
                    </div>
                                       
            </div>
        </div>    
        
    
    </body>
</html>
